---

---

<p>Blog</p>

<h2>Entérate de nuestras actividades</h2>

<div class="blog">
  
</div>

<style>
      p{
        font-size: 2rem;
        color: #3897f0;
        text-align: center;
        font-weight: 500;
    }

    h2{
        font-weight: 900;
        font-size: 2rem;
        color: #3897f0;
        text-align: center;
    }

    .blog {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
</style>