---

---


<h2 class="h2">Empresas aliadas</h2>

<div class="empresas-container">
    <img class="img-empresas" src="FULL-COLOR-2.png" alt="">
    <img class="img-empresas" src="EQUIMEDIS-2.png" alt="">
    <img class="img-empresas" src="DENTALIUM-VITAL-2.png" alt="">
    <img class="img-empresas" src="CLINICA-BAHIA-1.png" alt="">
    <img class="img-empresas" src="CAPRI-1.png" alt="">
    <img class="img-empresas" src="BASCOSTA-2.png" alt="">
</div>

<style>


    .h2{
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        color: #211C84;
    }

    .empresas-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    @media (max-width: 768px) {
        .img-empresas{
            width: 150px;
        }
    }
</style>