---

---

<h2 class="h2">Programas Academicos</h2>

<div class="parent">
    <div class="div2"><img src="474102531_931755195751700_5904503324185643330_n.jpg" alt=""></div>
    <div class="div3"><img src="474187023_931752615751958_1590257232001692323_n.jpg" alt=""></div>
    <div class="div5"><img src="474995054_935821408678412_1542288700390980599_n.jpg" alt=""></div>
    <div class="div6"><img src="475066251_935818928678660_7080297294896382112_n.jpg" alt=""></div>
    <div class="div8"><img src="475126027_935819722011914_2854248525335531948_n.jpg" alt=""></div>
    <div class="div9"><img src="475143602_935820598678493_2889673516889408912_n.jpg" alt=""></div>
    <div class="div11"><img src="480809133_956206276639925_7018790875145617278_n.jpg" alt=""></div>
    <div class="div12"><img src="480580453_951319327128620_4891363545010584104_n.jpg" alt=""></div>
    <div class="div14"><img src="480258844_951318360462050_1026797687159143643_n.jpg" alt=""></div>
    <div class="div15"><img src="480258844_951318360462050_1026797687159143643_n.jpg" alt=""></div>
    <div class="div16"><img src="480258844_951318360462050_1026797687159143643_n.jpg" alt=""></div>
    <div class="div17"><img src="480258844_951318360462050_1026797687159143643_n.jpg" alt=""></div>
</div>

    
<style>

.h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #211C84;
    margin-top: 50px;
    margin-bottom: 20px;
}    
    

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}
    
.div2 {
    grid-column-start: 2;
}

.div3 {
    grid-column-start: 3;
}

.div5 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.div8 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.div9 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.div11 {
    grid-column-start: 2;
    grid-row-start: 4;
}

.div12 {
    grid-column-start: 3;
    grid-row-start: 4;
}

.div14 {
    grid-column-start: 4;
    grid-row-start: 1;
}

.div15 {
    grid-column-start: 4;
    grid-row-start: 2;
}

.div16 {
    grid-column-start: 4;
    grid-row-start: 3;
}

.div17 {
    grid-column-start: 4;
    grid-row-start: 4;
}
         
</style>