---

---

<div class="bg-white">
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <h2 class="">PROGRAMAS ACADEMICOS</h2>
    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      <a href="#" class="group">
        <img
          src="474102531_931755195751700_5904503324185643330_n.jpg"
          alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class=""></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="474187023_931752615751958_1590257232001692323_n.jpg"
          alt="Olive drab green insulated bottle with flared screw lid and flat top."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="474995054_935821408678412_1542288700390980599_n.jpg"
          alt="Person using a pen to cross a task off a productivity paper card."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="475066251_935818928678660_7080297294896382112_n.jpg"
          alt="Hand holding black machined steel mechanical pencil with brass tip and top."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
    </div>

    <div
      class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
    >
      <a href="#" class="group">
        <img
          src="475126027_935819722011914_2854248525335531948_n.jpg"
          alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class=""></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="475143602_935820598678493_2889673516889408912_n.jpg"
          alt="Olive drab green insulated bottle with flared screw lid and flat top."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="480809133_956206276639925_7018790875145617278_n.jpg"
          alt="Person using a pen to cross a task off a productivity paper card."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
      <a href="#" class="group">
        <img
          src="480580453_951319327128620_4891363545010584104_n.jpg"
          alt="Hand holding black machined steel mechanical pencil with brass tip and top."
          class="aspect-square w-full rounded-lg bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8"
        />
        <h3 class="mt-4 text-sm text-gray-700"></h3>
        <p class="mt-1 text-lg font-medium text-gray-900"></p>
      </a>
    </div>
  </div>
</div>
